{% extends 'base_foot.html' %}

{% block body %}
    <div class="header_con" id="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到心血管疾病检测网站!</div>
			<div class="fr">
{#                判断是否已经登录#}
                {% if request.session.user_name|default:'' != '' %}
{#                    default过滤器进行判断如果request.session.user_name不等于空字符串则用户登陆状态为true#}
{#                    也就是说当用户为已登陆状态时则显示用户名#}

{#                    class="login_info fl"#}
				<div class="login_btn fl">
                    <font color="#ff4500">{{ request.session.user_name }}</font>
				</div>
                <div class="login_btn fl">
                    <span>|</span>
                    <em><a href="{% url "user:logout" %}">退出</a></em>
				</div>
                {% else %}
				<div class="login_btn fl">
					<a href="{% url "user:login" %}">登录</a>
					<span>|</span>
					<a href="{% url "user:register" %}">注册</a>
				</div>
                {% endif %}
			</div>
		</div>
	</div>



{% block content %}
{% endblock content %}
{% block center_body %}
{% endblock center_body %}


{% endblock body %}