{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>
    <style type="text/css">
        .Content-Main{
            max-width: 700px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 25%;
            border: none;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-shadow: 1px 1px 1px #444;
            color: white;
            background: #00C6D7;
        }
        .Content-Main h1{

            padding: 8px 0px 40px 10px;
            display: block;
            border-bottom: 1px solid #444;
        }
        .text1{
            margin-left: 3px;
            font-size:20px;color:white;font-weight:bold;font-family:kaiti

        }
        .Content-Main label{
            margin: 10px 5px 10px;
            display: block;
        }
        .fileInputContainer{
            height: 99px;
            width: 99px;
            margin: 20px 20px 20px 20px ;
            border: none;
            overflow: hidden;
            position: relative;
        }
        .fileInput{
            height: 106px;
            border: none;
            font-size: 300px;
            opacity: 0;
            filter:alpha(opacity=0);
            cursor: pointer;
            position: absolute;
        }
        .Content-Main label>span{
            width: 20%;
            float: left;
            text-align: right;
            padding-right: 10px;
            margin-top: 10px;
            font-weight: bold;
        }

        {#.houspan{#}
        {#    float: right;#}
        {#    margin-top: 10px;#}
        {#    font-weight: bold;#}
        {#}#}
        .Main-sex{
            padding-right: 13px;
            padding-bottom: 13px;
            font-weight: bold;
            line-height: 4px;
        }
        .Main-sex input[type=checkbox]{
            margin-top:6px;
            vertical-align:middle;
        }
        .Content-Main input[type="text"],.Content-Main input[type="email"],.Content-Main textarea{
            height: 25px;
            width: 50%;
            line-height: 15px;
            padding: 5px 0px 5px 5px;
            margin-bottom: 16px;
            margin-right: 6px;
            margin-top: 2px;
            border: none;
            border-radius:2px;
            -webkit-border-radius:2px;
            -moz-border-radius:2px;
            outline: 0 none;
            background:  white;
            color: #525252;
        }
        .Content-Main textarea{
            height: 100px;
            width: 70%;
            padding: 5px 0px 0px 5px;
        }
        .Content-Main .button{
            padding: 8px 24px 8px 24px;
            margin-bottom: 8px;
            margin-left: 280px;
            border: none;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            font-weight: bold;
            text-shadow: 1px 1px 1px #FFE477;
            box-shadow: 1px 1px 1px  #3D3D3D;
            -moz-box-shadow: 1px 1px 1px  #3D3D3D;
            -webkit-box-shadow: 1px 1px 1px  #3D3D3D;
            color: #585858;
            background: #f6ff0a;
        }
        .Content-Main .button:hover{
            color:  #333;
            background-color:  #EBEBEB ;
        }
    </style>
{% endblock head %}


{% block center_body %}
    <div class="navbar_con">
		<div class="navbar">
			<ul class="navlist fl">
				<li><a href="{% url "user:index" %}">个人健康信息管理</a></li>
			</ul>
            <ul class="navlist fl">
				<li><a href="{% url "user:index" %}">个人健康信息一览</a></li>
			</ul>
            <ul class="navlist fl">
				<li><a href="{% url "user:index" %}">诊断结果</a></li>
			</ul>
		</div>
	</div>
    <div class="Content-Main">
            <form  action="{% url "user:form" %}" method="post" class="form-userInfo">
                {% csrf_token %}
                <h1>个人信息</h1>
                <p>
                <label>
                    <span>年龄:</span>
                    <input type="text" name="age" placeholder="请输入您的年龄">
                </label>
                <label class="Main-sex">
                    <span>性别:</span>

                    <select name="select1" style="zoom:130%">
                        <option  selected="selected">--请选择--</option>
                        <option value="option1">男</option>
                        <option value="option2">女</option>
                    </select>

                </label>
                <label>
                    <span>身高:</span>
                    <input type="text"  name="statur" placeholder="请输入您的身高">
                </label>
                <label>
                    <span>体重:</span>
                    <input type="text"  name="weight" placeholder="请输入您的体重">
                </label>
                <label>
                    <span>收缩压:</span>
                    <input type="text"  name="systolicpress" placeholder="请输入您的收缩压">
                </label>
                <label>
                    <span>舒张压:</span>
                    <input type="text"  name="diastolicpress" placeholder="请输入您的舒张压">
                </label>
                <label>
                    <span>胆固醇:</span>
                    <input type="text"  name="cholesterol" placeholder="请输入您的胆固醇">
                </label>
                <label>
                    <span>血糖:</span>
                    <input type="text"  name="bloodglucose" placeholder="请输入您的血糖">
                </label>
                <label class="Main-sex">
                    <span>是否吸烟:</span>
                    <select name="select2" style="zoom:130%">
                        <option  selected="selected">--请选择--</option>
                        <option value="option1">是</option>
                        <option value="option2">否</option>
                    </select>
                </label>
                <label class="Main-sex">
                    <span>是否饮酒:</span>
                    <select name="select3" style="zoom:130%">
                        <option  selected="selected">--请选择--</option>
                        <option value="option1">是</option>
                        <option value="option2">否</option>
                    </select>
                </label>
                <label class="Main-sex">
                    <span>平日是否运动:</span>
                    <select name="select4" style="zoom:130%">
                        <option  selected="selected">--请选择--</option>
                        <option value="option1">是</option>
                        <option value="option2">否</option>
                    </select>
                </label>
                <label>
                    <input type="button" class="button" value="提交">
                </label>

            </form>
    </div>

{% endblock center_body %}
