{% extends 'base_foot.html' %}

{% block head %}
<style>
    body{
        background: url(/static/images/backg1.jpg) repeat-x;
        min-height: 600px;
        position: relative;
    }
</style>
<script>
    $(function () {
        name_error = false;
        pwd_error = false;
        vc_error = false;

        if({{ error_name }}==1){
            $('.user_error').html('username error').show();
        }
        if({{ error_pwd }}==1){
            $('.pwd_error').html('password error').show();
        }
        if({{ error_vc }}==1){
            $('.vc_error').html('verification code error').show();
        }
        $('.name_input').blur(function () {
            if($('.name_input').val().length=0){
                $('.user_error').html('input username').show();
                name_error = false;
            }else{
                $('.user_error').hide();
                name_error = true;
            }
        });
        $('.pass_input').blur(function () {
            if($('.pass_input').val().length=0){
                $('.pwd_error').html('input password').show();
                pwd_error = false;
            }else{
                $('.pwd_error').hide();
                pwd_error = true;
            }
        });
        $('.vc_input').blur(function () {
            if($('.vc_input').val().length=0){
                $('.vc_error').html('input vertify code').show();
                vc_error = false;
            }else{
                $('.vc_error').hide();
                vc_error = true;
            }
        });
    })
</script>
{% endblock head %}

{% block body %}

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>login</h1>
					<a href="{% url "user:register" %}">register</a>
				</div>
				<div class="form_input">
					<form action="{% url "user:login_handle" %}" method="post">
                        {% csrf_token %}
						<input type="text" name="username" class="name_input" value="{{ username }}" placeholder="username">
						<div class="user_error">error</div>
						<input type="password" name="pwd" class="pass_input" value="{{ password }}" placeholder="password">
{#                        在cookie设置的情况下value值保证页面刷新之后保证仍旧能够在页面看到值#}
						<div class="pwd_error">error</div>
{#                        验证码 #}
                        <input type="text" name="vc" class="vc_input" placeholder="CheckCode">
                        <div class="vc_error">error</div>
                        <img id='verifycode' src="/verifycode/?1" alt="CheckCode"/>
                        <span id='verifycodeChange' aria-placeholder="change"></span>
						<div class="more_input clearfix">
							<input type="checkbox" name="jizhu" value="1" checked="checked">
							<label>remember username</label>
							<a href="{% url "user:findpwdView" %}">forget the password</a>
						</div>
						<input type="submit" name="" value="login" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
    $(function(){
        $('#verifycodeChange').css('cursor','pointer').click(function() {
            $('#verifycode').attr('src',$('#verifycode').attr('src')+1)
        });
    });
</script>
{#  弹窗提示  #}
    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}
{% endblock body %}
